/*
Created by IntelliJ IDEA.
User: Prashant
Date: 22/12/19
Time: 12:17 AM
*/

/*========main================*/
.outer_div {
    border: 1px solid #CCC;
    border-radius: 2px;
    height: 290px;
    width: 500px;
    margin: 0 auto;
}

.inner_div {
    display: flex;
    flex-direction: column;
    padding: 70px;
    height: 100%;
}

.inner_div a, button {
    width: 100%;
}

.inner_div a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.custom_btn {
    height: 58px;
    font-weight: 100;
    background-color: #b61a20;
    border: 1px solid #b61a20;
    text-transform: uppercase;
    color: white;
    min-width: 225px;
}

.border_radius_4px {
    border-radius: 4px;
}

.custom_btn:hover {
    opacity: 0.8 !important;
    color: white;
}

.black_btn {
    background: black;
    color: white;
}

/*================header=================*/

.width_20_percent {
    width: 20%;
}

.width_20_percent img {
    width: 100%;
    height: 100%;
}

/*=================login=======================*/
.remember_me_label {
    padding: 3px 24px;
}

.submit_arrow {
    right: 0;
    left: 83px;
}

.submit_hover:hover {
    color: white;
}

/*====================register=======================*/
.register_wrap {
    display: flex;
    justify-content: space-evenly;
    padding: 0 66px;
    margin: 13px 53px;
}

.register_element_wrap {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.register_element_wrap span {
    color: #b0272d;
}

.email_link_alert {
    width: 77%;
    text-align: center;
}

/*==================buyerIndex========================*/
.banner_red_color {
    background-color: #f5bcbc !important;
}

.product_description {
    display: flex;
    flex-direction: column;
}

/*=====================add car============================*/
.steps_banner {
    padding: 12px;
    background: #b61a20;
    color: white;
    margin-bottom: 4px;
}

.steps_banner h1 {
    color: white;
}

.car_main_div {
    padding: 10px;
}

.justify_content_normal {
    display: flex;
    justify-content: normal;
    margin: 0 150px;
}

.width_43_percent {
    width: 43%;
}

.text_color_red {
    color: darkred;
}

.inputfile {
    width: 30px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}


.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: darkred;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    opacity: 0.8;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}
